<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-primary">
                Only show Odd numbers
            </button>
            <br><br>
            <ul class="list-group">
                <li class="list-group-item" 
                *ngFor="let number of numbers"
                
                >{{number}}</li>
            </ul>
            <p appBasicHighlight >This is to check Basic Highlight directives</p>
            <p appBetterHighlight >This is to check better Highlight directives</p>
        </div>
    </div>
</div>